[submodule "res"]
	path = res
	url = https://github.com/SuSen36/PvZ-XPort-Res.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/libpng"]
	path = libs/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libs/libjpeg-turbo"]
	path = libs/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
